<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <router-link to="/" class="brand-link">
        <span class="brand-text font-weight-light">KinoCMS</span>
    </router-link>

    <div class="sidebar">
        <nav class="mt-2">
           <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <div class="nav-item" v-for="category in categories" :key="category.url">
                    <li v-if="!category.pages.length">
                        <router-link :class="{ 'active': $route.path === category.url }" :to="category.url"
                            class="nav-link">
                            <i class="nav-icon" :class="category.icon"></i>
                            <p>
                                {{ category.name }}
                            </p>
                            <i v-if="category.pages.length" class="right fas fa-angle-left"></i>
                        </router-link>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</aside>